#contact .container {
    position : relative;
    margin-top : 50px;
    margin-bottom : 100px;
}

#contact h1 {
    width: 100%;
    padding-top : 40px;
    height: 100px;
    background-color:#E9F5FF;
    margin-bottom: 50px;
    font-size : 20px;
    font-weight: bold;
}

#contact h4 {
    color : #488BFF;
    font-size : 18px;
    font-weight: bold;
    padding-top : 30px;
    padding-bottom : 10px;
}